body {
    background-color: white;

}

#container{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 100px;
    text-align: left;
    border-left:10px solid pink;
    padding: 100px 20px
}