/* define default variables*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    color: white;
    font-family: 'Roboto', sans-serif;
}

:root{
    font-size: 10px;
    --base_color:#101010;
}

/*...............nav bar.........................*/
/*header/navbar*/

.nav{
    width:100%;
    max-height: 10%;
    height:90px;
    position:fixed;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

#navbar{
    width:90vw;   
}
/*...............nav bar.........................*/

/*.......................main content scroll page.................*/
/*main page holder*/
#contents{
    width:auto;
    height:auto;
    display: flex;
    justify-content:center;
    align-content:start;
    flex-wrap: wrap;
}

/*holder for contents*/
.container{
    width:100vw;
    padding:0;
    margin:0;
    display:flex;
    align-content:start;
    flex-wrap: wrap;
    position:relative;
}

.full{
height:100vh
}

.half{
    height:50vh;
}

.wide{
    width:100%;
    position:relative;
}

.stack{
    z-index:4;
}

/*.........Landing page.....................*/
#landing{
    background-color: var(--base_color);
    width:100%;
    height:100vh;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-wrap: wrap;
}

#landing_grid{
    width:50%;
    height:80%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1fr;
}

.lndn_ctr{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:  auto 1fr 1fr;
    grid-gap: 10px;
    padding:10px;
}
.top{
    display:flex;
    flex-wrap: wrap;
    padding:1% 0;
}

.mid>p{
    font-size:2rem;
    position:absolute;
    line-height:5rem;
}


.landing_txt{
    --size: 9rem;
    font-weight: 900;
    font-size: var(--size);
    color:white;
    width:100%;
    vertical-align: middle;
    padding:0;
    margin:0;
    position:relative;
}

#landing_button{
    width:60%;
    height:2em;
    border-radius:0.5em;
    padding:0px;
    text-align: center;
    vertical-align:middle;
    border:0.5px solid rgb(156, 156, 156);
    background-color:black;
    font-size: 1.2rem;
    color:white;
    transition: transform 1s ease-out;  
    position:absolute;
    bottom:0
}

#lndn_btn>a{
    color:white;
    text-decoration: None;
}

#landing_button:hover{
    transform:scale(1.1, 1.1);
    border:3px solid;
    transition: transform 1s ease-out;
}

@media screen and (max-width:1200px){
    #landing_button{
        width:100%;
        font-size:0.8em
    }

    #landing_txt{
        font-size:1.5em;
        line-height:8rem
    }    
}

.row1{
    width:100%;
    height:auto;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;    
    justify-items:center;
}

  
#mid_line{
    justify-content:center;
    padding:0;
    margin:0;
    font-size: 1em;
}

.side_line{
    background-color: white;
    height:1px;
    width:100%
}

/*............Landing Page Ends..................*/

/*-------------About Page........................*/
/*about*/
#about{
    background-color: rgb(240,240,240);
    margin: 0;
    padding: 0;
}
/*.............About Page Ends...................*/

/*............projects slideshow...................*/
.slideshow{
    /* position:relative; */
    display:flex;
}

#slide, #about, #skills, #contact, .slide, .slideimg, .slidetxt{
    width:100%;
    height:100%;
}
.slide{
    position:absolute;
}

.slidetxt{
    padding: 30px 20px;
    display:flex;
    color:white;
    position:absolute;
}

.slideimg{
    position:absolute;
    object-fit:cover;
    object-position:100% 50% ;
}

h1.project_header{
    font-size:5rem;
    font-family:fantasy;
    font-weight: bold;
}

p.project_text{
    font-size:1.5rem;
    color:rgb(156, 153, 153);
    font-family:'Courier New', Courier, monospace
}

.counter{
    width:100%;
    align-items: center;
    height:auto;
    display:flex;
    justify-content: center;
    position:absolute;
    bottom:10px;
    background-color:aqua;
    z-index: 20; 
}

.circ{
    width:10px;
    height:10px;
    margin:5px;
    border-radius:5px;
    background-color: rgba(255, 255, 255, 0.7);
    display:inline;
}
.arrows{
    width:100%;

    display:flex;
    flex-wrap: wrap;

    z-index: 20; 
}

#left, #right{
    position:absolute;
    bottom:46vh;
    width:70px;
    height:8vh;
    background-color: rgba(255, 255, 255, 0.7);
    display:inline;   
}

#right{
    right:0px;
} 
/*............Projects Slideshow Ends...................*/

/*............Skills...................*/
#skills{
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
}

/*............Skills Ends...................*/

/*............Contact...................*/
#contact{
    background-color: black;
    display:flex;
    justify-content:center;
    align-items:center;
}
/*............Contact Ends...................*/




/*sketches*/
#sketch-grid-wrapper{
    width:90vw;
    padding:5vh 0vh;
    height:200vh;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.sketch_block{
    background-color: rgb(240, 240, 240);
    font-size:2rem;
}
